.conteudo {
    display: flex;
  }
  body{
    background-color:#58a4b0
  }
  
.conteudo-principal{
  flex-grow: 3;
}

  :root {

    --secundaria: #373f51;
    --secundaria-ativa: #cccccc;
    --fundo: #ffffff;
    --fundo-detalhes: #ececec;
  }